

/*reset*/
*, *::after, *::before {
    margin: 0;
    padding: 0;
    /* will be inherited from body */
    box-sizing: inherit;
}
/* 10px because its easier to change all px to rem */
/* REM does not want for IE below 9 */
html {
    //defines what 1rem is, so it`s not typography it`s setting
    font-size: 62.5%; 
    /* because we want to have 62.5% of font size provided by browser
    overriding browser defaults is bad practice so we cant set this font size to px */


    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12px, 12/16 = 75%;
    }

    @include respond(tab-land) {
        font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%; ////1rem = 8px, 8/16 = 50%;
    }

    // @include respond(phone) {
    //     font-size: 50%;
    // }
}

body {
    box-sizing: border-box;
    padding: 3rem;
    @include respond(tab-port) {
        padding: 0;
    }
}

//for changing standard browser selection
::selection {
    background-color: $color-primary;
    color: $color-white;
}